:root {
  --lightRed: #de4843;
  --lightGray: #b7b4b4;
  --milkyWhite: #f6f6f6;
  --borderGrey: #d3d3d3;
  --ContainerMaxWidth: 1000px;

}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-sans-serif);
  height: auto;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

h1,
p {
  margin: 0;
  padding: 0;
}

.Logo {
  width: 50px;
  position: relative;
  top: 50px;
}

.vueContainer {
  width: 100%;
  max-width: var(--ContainerMaxWidth);
  height: auto;
  display: table;
  margin: 0 auto;
  margin-top: 50px;
}

.vueContainer .inner {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.header {
  font-family: var(--font-family-sans-serif);
  font-weight: 400;
  background-color: var(--lightRed);
  color: var(--light);
  font-size: 22px;
  padding: 12px 10px;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  box-shadow: none;
  border: 1px solid var(--secondary);
  border-right: 0;
  outline: 0;
}

input:hover,
input:focus,
input:Active {
  outline: 0;
}

.thumbnailAdd {
  display: table;
  width: 100%;
}

.thumbnailAdd div {
  display: table-cell;
  width: 100%;
}

.thumbnailAdd button {
  color: var(--white);
  font-size: 14px;
  padding: 11px;
  cursor: pointer;
  background: var(--lightRed);
  border-radius: 0px;
  display: table-cell;
  width: 100px;
  box-shadow: none;
  border: 0;
}

.vueContainer-Container {
  margin: 0 auto;
  border: 1px solid var(--lightGray);
  background: var(--milkyWhite);
  border-top: 0;
  margin-top: 40px;
}

.selector {
  border: 1px solid rgb(247, 81, 81);
  height: 60px;
  width: 250px;
  background: var(--lightRed);
  opacity: 0.4;
}